section {
    
    margin-bottom: 0;
    
    > p,
    > ul {
        display: none;
    }

    &.active {
        > p,
        > ul {
            display: block;
        }
    }
}


h2 {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    #Gradient.vertical(#fff, #c3d3e7);
    color: #5b80b2;
    line-height: 40px;
    cursor: pointer;
    margin: 15px 0;
}


.title {
    display: none;
}
.link {
    float: none;
}
