{% extends 'base.html' %}


{% block body_class %}resume-page{% endblock %}


{% block content %}
<h1>Adrian Borrmann</h1>

<section id="Contact">
    <div>647-705-0989</div>
    <div><a href="mailto:adrian@adrianborrmann.com">adrian@adrianborrmann.com</a></div>
</section>

<section id="Skills">
    <h2>Core Skills</h2>
    <ul>
        <li>Expert Knowledge of HTML 5, CSS 3, and JavaScript</li>
        <li>Deep experience with open-source software like Ubuntu, Django, PHP, Subversion, and Git</li>
        <li>Proficiency with JavaScript libraries like jQuery, Node.js, Backbone.js, and others</li>
        <li>Experience integrating Facebook, Twitter, YouTube, and countless other APIs</li>
        <li>Familiar with various analytics engines and SEO principles</li>
        <li>Continuously improving: I write high-quality, efficient code</li>
    </ul>
</section>

<section id="Experience">
    <h2>Relevant Experience</h2>
    <p>I have over 5 years of experience developing clean, modern websites.</p>
    <p>I have developed my career at <a href="http://www.trapeze.com">Trapeze</a>, a Toronto digital agency, building projects from small microsites to large corporate environments. I'm right at home in a fast-paced team-work environment.</p>
    <p>Below are some examples of my work. This is not an exhaustive collection—I have lots of other examples I can show on request.</p>

    <ul>
        <li>
            <h3>Front-end Web Development</h3>
            <ul>
                {% for website in websites %}
                <li>
                    <span class="title">{{ website.name }}</span>
                    <span class="link"><a href="{{ website.url }}">{{ website.url }}</a></span>
                </li>
                {% endfor %}
            </ul>
        </li>
        <li>
            <h3>Team Management</h3>
            <p>I am a solid team player. I understand what good development looks like, and the processes needed to deliver quality code on time. I currently manage projects with junior developers, with a particular focus on improving best practices.</p>
        </li>
        <li>
            <h3>Experimental Technology</h3>
            <p>I explore new user interfaces using touch screens, webcams, and Microsoft Kinect.</p>
        </li>
    </ul>
</section>

<section id="Education">
    <h2>Accomplished Education</h2>
    <p>I love learning new things, and not just web development things. My current challenge is a new language&mdash;French!</p>

    <ul>
        <li>
            <span class="dates">2011&ndash;Present</span>
            <h3>Ryerson University</h3>
            <ul>
                <li>Certificate in Proficiency in French</li>
            </ul>
        </li>
        <li>
            <span class="dates">2007&ndash;2008</span>
            <h3>Sheridan College</h3>
            <ul>
                <li>Graduate Certificate in Interactive Multimedia</li>
            </ul>
        </li>
        <li>
            <span class="dates">2003&ndash;2007</span>
            <h3>The University of Western Ontario</h3>
            <ul>
                <li>Bachelor of Music with a minor in Computer Science</li>
                <li>Certificate in Writing</li>
            </ul>
        </li>
        <li>
            <h3>The Royal Conservatory of Music</h3>
            <ul>
                <li>ARCT Diploma in Piano Performance</li>
            </ul>
        </li>
    </ul>
</section>

<section id="References">
    <h2>References are available</h2>
</section>
{% endblock %}