/* mixins.less
 * Snippets of reusable CSS to develop faster and keep code readable
 * ----------------------------------------------------------------- */
html {
  width: 100%;
  overflow-x: hidden;
}
body {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  max-width: 700px;
  margin: 0 auto;
}
section {
  margin-bottom: 20px;
}
section:last-child {
  margin-bottom: 0;
}
section > ul {
  margin-left: 35px;
  list-style: inside disc;
}
section ul > li {
  overflow: hidden;
  clear: both;
  margin-top: 8px;
}
section li > ul {
  margin-left: 35px;
  list-style: inside circle;
}
