/* mixins.less
 * Snippets of reusable CSS to develop faster and keep code readable
 * ----------------------------------------------------------------- */
.resume-page #Contact {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
}
.resume-page #Experience .projects > li {
  list-style-type: none;
}
.resume-page #Education h3 {
  display: inline;
}
