/* mixins.less
 * Snippets of reusable CSS to develop faster and keep code readable
 * ----------------------------------------------------------------- */
@media only screen and (max-width: 700px) {
  section {
    margin-bottom: 0;
  }
  section > p,
  section > ul {
    display: none;
  }
  section.active > p,
  section.active > ul {
    display: block;
  }
  h2 {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #c3d3e7;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#ffffff), to(#c3d3e7));
    background-image: -moz-linear-gradient(top, #ffffff, #c3d3e7);
    background-image: -ms-linear-gradient(top, #ffffff, #c3d3e7);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #c3d3e7));
    background-image: -webkit-linear-gradient(top, #ffffff, #c3d3e7);
    background-image: -o-linear-gradient(top, #ffffff, #c3d3e7);
    background-image: linear-gradient(top, #ffffff, #c3d3e7);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#c3d3e7', GradientType=0);
    color: #5b80b2;
    line-height: 40px;
    cursor: pointer;
    margin: 15px 0;
  }
  .title {
    display: none;
  }
  .link {
    float: none;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  
}
@media print {
  .no-print {
    display: none !important;
  }
}
